Repository kagankan/markuplint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YusukeHirao, @conao3, @tyankatsu0105, @kagankan

Debug
  packages/@markuplint/ml-core/src/test/index.ts
  packages/markuplint/src/index.spec.ts
Owners: @YusukeHirao

Debug
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/markuplint/src/index.spec.ts
Owners: @YusukeHirao

test
  website/src/pages/index.tsx
Owners: @kagankan

test
  README.md
Owners: @YusukeHirao

fix
  .github/workflows/website.yml
Owners: @tyankatsu0105

fix
  .github/workflows/website.yml
Owners: @tyankatsu0105

fix
  .github/workflows/website.yml
Owners: @tyankatsu0105

Update reg_actions to output generated at runId:7677688129
  2024-01-27_7677688129_reg/actual/_index.png
  2024-01-27_7677688129_reg/diff/_index.png
  2024-01-27_7677688129_reg/expected/_index.png
Owners: @YusukeHirao

test
  README.md
Owners: @YusukeHirao

test
  website/src/pages/index.tsx
Owners: @kagankan

Update reg_actions to output generated at runId:7677757398
  2024-01-27_7677757398_reg/actual/_index.png
  2024-01-27_7677757398_reg/diff/_index.png
  2024-01-27_7677757398_reg/expected/_index.png
Owners: @YusukeHirao

Update reg_actions to output generated at runId:7677795102
  2024-01-27_7677795102_reg/actual/_index.png
  2024-01-27_7677795102_reg/diff/_index.png
  2024-01-27_7677795102_reg/expected/_index.png
Owners: @YusukeHirao

test
  .github/workflows/website.yml
  website/src/pages/index.tsx
Owners: @tyankatsu0105, @kagankan

Update reg_actions to output generated at runId:7680218394
  2024-01-27_7680218394_reg/actual/_index.png
  2024-01-27_7680218394_reg/diff/_index.png
  2024-01-27_7680218394_reg/expected/_index.png
Owners: @YusukeHirao

test
  website/src/pages/index.tsx
Owners: @kagankan

test
  website/src/pages/index.tsx
Owners: @kagankan

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

Update reg_actions to output generated at runId:7681373862
  2024-01-27_7681373862_reg/actual/_docs_rules.png
  2024-01-27_7681373862_reg/diff/_docs_rules.png
  2024-01-27_7681373862_reg/expected/_docs_rules.png
Owners: @YusukeHirao

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

test
  website/src/pages/index.tsx
Owners: @kagankan

Update website-comment.yml
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

Update reg_actions to output generated at runId:7681497835
  2024-01-27_7681497835_reg/actual/_docs_rules.png
  2024-01-27_7681497835_reg/diff/_docs_rules.png
  2024-01-27_7681497835_reg/expected/_docs_rules.png
Owners: @YusukeHirao

Fix
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

Fix
  .github/workflows/website-comment.yml
Owners: @tyankatsu0105

test
  website/src/pages/index.tsx
Owners: @kagankan

Update reg_actions to output generated at runId:7681569184
  2024-01-27_7681569184_reg/actual/_index.png
  2024-01-27_7681569184_reg/diff/_index.png
  2024-01-27_7681569184_reg/expected/_index.png
Owners: @YusukeHirao

.github/CODEOWNERS:

# SEE: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @YusukeHirao

Dockerfile @conao3
.github/workflows/ @tyankatsu0105
website/ @kagankan
playground/ @kagankan
